<section class="section">
  <div class="box">
    <div class="block">
      <p class="is-size-2">Thank you!</p>
    </div>
    <div class="block">
      <p class="is-size-4">Your order is now gonna be processed.</p>
    </div>
    <div class="block">
      <p class="is-size-4">Your can expect an email with the order confirmation and a receipt soon.</p>
    </div>
    <div class="block">
      <p class="is-size-4">Have a glorious day!</p>
    </div>
  </div>
</section>
