<section class="section box is-rounded">
  <div class="container p-3 m-5">
    <div class="columns is-multiline is-vcentered">
      <div class="column is-half">
        <p class="is-size-3 is-capitalized">Product</p>
      </div>
      <div class="column is-one-quarter">
        <p class="is-size-4 has-text-centered">Price</p>
      </div>
      <div class="column is-one-quarter">
        <p class="is-size-4 has-text-right">In cart</p>
      </div>
    </div>
  </div>
  <%= render partial: "cart_state" %>
  <div class="container p-1 m-3">
    <div class="level">
      <div class="level-left">
        <p class="is-size-3 is-capitalized">Total: <%= current_user.cart.total %></p>
      </div>
      <div class="level-right">
        <% if current_user.cart.product_items.size.positive? %>
          <button class="button is-large is-success">
              <%= link_to 'Checkout', new_order_path, class: "has-text-white" %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</section>



